$icon-font-path: '../fonts/';
@import 'node_modules/normalize.scss/normalize';
// bower:scss
// endbower
// General palette
$white: #fff;
$black: #333;
$gray-blue: #7f929c;
$gray-blue-light: rgb(182, 193, 199);
$light-gray: #ddd;
$gray: #999;

// Palette 
$hsl-blue: #007ac9;
$hsl-tram-green: #00985f;
$hsl-metro-orange: #ff6319;
$hsl-train-red: #8c4799;
$hsl-ferry-blue: #00b9e4;
$hsl-pink: #f092cd;
$hsl-alert: #dc0451;
$hsl-distruption: #fed100;

// Fonts 
$font-family: Arial, Georgia, Serif;

// Application base colors 
$background-color: #eef1f3;

// Vehicle colors 
$bus-color: $hsl-blue;
$tram-color: $hsl-tram-green;
$metro-color: $hsl-metro-orange;
$train-color: $hsl-train-red;
$ferry-color: $hsl-ferry-blue;

// Icon fonts 
@font-face {
  font-family: 'reittiopas-icon-font-1';
  src: url('../fonts/hslpiktokehys-regular-webfont.eot');
  src: url('../fonts/hslpiktokehys-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hslpiktokehys-regular-webfont.woff') format('woff'),
       url('../fonts/hslpiktokehys-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'reittiopas-icon-font-2';
  src: url('../fonts/hslpiktoilman-regular-webfont.eot');
  src: url('../fonts/hslpiktoilman-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hslpiktoilman-regular-webfont.woff') format('woff'),
       url('../fonts/hslpiktoilman-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$icon-font-family-1: 'reittiopas-icon-font-1';
$icon-font-family-2: 'reittiopas-icon-font-2';

//Borders
$border-radius: 3px;
//$hsldarkblue : #006eb5;
$hsldarkblue : #025a93;

.browserupgrade {
  background: $gray;
  color: $black;
  margin: .2em 0;
  padding: .2em 0;
}

.form-group,
.clearfix {

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

div, 
header, 
footer, 
nav, 
aside, 
section, 
main, 
button, 
input, 
textarea {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 300;
  margin: 0 0 .5em;
}

h1 {
  font-size: 2em;
  line-height: 1.1em;
}

h2 {
  font-size: 1.6em;
  line-height: 1.1em;
}

h3 {
  font-size: 1.4em;
  line-height: 1.1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.1em;
}

h5 {
  font-size: .8em;
  line-height: 1.1em;
}

p {
  font-size: 1em;
  line-height: 1.1em;
}

select,
input, 
button {
  display: block;
  font-size: 1em;
  height: 2.5em;
  line-height: 2.5em;
  margin: 0;
  outline: none;
  padding: 0 1em;
  transition: all .25s ease-out;
}

button {
  background: $gray;
  border: 0;
  border-radius: 99em;
  color: $white;
  float: right;
  padding: 0 1.5em;

  &:hover {
    background: $white;
    color: $hsldarkblue;
  }

  &:disabled,
  &:disabled:hover {
    background: rgba($gray, .8);
    color: $white;
  }
}

select {
  background: $white;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  box-shadow: inset 0 2px 4px -2px rgba($gray-blue-light, .8);
  color: $black;
}

input[type="text"] {
  background: $white;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  box-shadow: inset 0 2px 4px -2px rgba($gray-blue-light, .8);
  color: $black;
  width: 100%;
}

::placeholder {
  color: rgba($gray, 1);
}

.error {
  color: $hsl-alert;
  a {
    color: $hsl-alert;
  }
}

.icon {
  display: inline-block;
  max-height: 100%;
}

main {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.form-group:last-child {
  margin-bottom: 0;
}

.left-sidebar {
  background: $background-color;
  color: $black;
  margin: 0;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 360px;
  z-index: 2;
  padding-bottom: 35px;

  &::-webkit-scrollbar-thumb { 
    background: $white;
    border-radius: 99em;
    width: 3px;
    border: 1px solid $gray;
  }

  &::-webkit-scrollbar { 
    background: $gray;
    width: 7px;
    margin: 0 auto;
    right: 2px;
    border-radius: 99em;
  }

  h3,
  h4 {
    padding-left: 10px;
  }
}

.site-branding {
  margin: 0 0 15px;

  h3,
  h4 {
    padding-left: 0;
  }
  
  h1 {
    float: left;
    font-size: 25px;
    line-height: 25px;
    margin: 0;
  }
}

.logo {
  float: left;
  font-size: 25px;
  height: 25px;

  .lines {
    display: flex;
    float: left;
    height: 95%;
    justify-content: space-between;
    margin-left: 5px;
    transform: translateY(2.5%);
    width: 6px;
  }

  .line {
    background: $white;
    height: 100%;
    width: 2px;
  }

  .hsl-hrt {
    float: left;
    margin-left: 5px;
  }

  span {
    float: left;
    font-size: .5em;
    line-height: 1em;
    width: 100%;
  }

  .main-logo {
    float: left;
    height: 100%;
  }
}

.info {
  background: $hsl-blue;
  color: $white;
  padding: 10px 15px 15px;
  
  h3 {
    margin-bottom: .5em;
    
    .date {
      color: $hsl-distruption;
      font-size: .75em;
    }
  }

  h4 {
    margin-bottom: 0;
    width: 100%;
  }
  p {
    padding: 0 0 0 10px;
    line-height: 1.2em;
  }
  a {
    border-bottom: dotted 2px $hsl-distruption;
    border-left: 0;
    border-right: 0;
    color: $white;
    display: inline-block;
    font-size: 1em;
    height: 1em;
    padding-bottom: .15em;
    text-decoration: none;
    width: auto;

    span {
      margin: 0 .15em 0 0;
    }

    .icon {
      height: 60%;
      width: auto;
    }
  }

  .read-more-link {
    
    .open {
      display: none;
    }

    &.open {

      .open {
        display: inline-block;
      }

      .closed {
        display: none;
      }
    }
  }

  .more-info {
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;

    &.open {
      max-height: 1000px;
      height: auto;
    }
  }
}

.sidebar-searches {

  &.hidden {
    display: none;
  }
}

.route-search-form,
.line-search-form {
  padding: 15px 20px 10px;
  
  h3,
  h4 {
    padding-left: 10px;
  }

  button,.select-box {
    width: 31.25%;
  }
}

.pre-heading {
  margin: 1em 0;
}

.route-search-form {
  
  .result.focused {
    border: 3px $hsl-blue solid;
  }

  .result-content {
    position: relative;
  }
  
  .select-box:first-child {
    margin-right: 2.08333333333333%;
  }

  .select-box {
    display: inline-block;
  }

  .close {
    cursor: pointer;
    height: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5em;
  }
}

.line-search-form {
  border-top: 2px solid $white;
    
  input[type="text"] {
    float: left;
    width: 65.625%;
  }

  .form-group {
    margin-bottom: 0;
  }

  button {
    float: left;
    margin-left: 3.125%;
  }

  a {
    color: $gray;
    display: block;
    margin: 1em 0 0;
    padding-left: 10px;
    text-decoration: none;
  }

  .new-routes {
    padding: 0;
    width: 100%;
  }
}

.form-group {
  margin: 0 0 1em;
  position: relative;
  
  input {
    margin: 0;
  }
}

.autocomplete-container {
  background: $white;
  border: 1px solid rgba($gray, .66);
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 99;

  ul {
    box-sizing: border-box;
    height: 100%;
    max-height: 120px;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
    width: 100%;
    
    &::-webkit-scrollbar-thumb { 
      background: $white;
      border-radius: 99em;
      width: 3px;
      border: 1px solid $gray;
    }

    &::-webkit-scrollbar { 
      background: $gray;
      width: 7px;
      margin: 0 auto;
      right: 2px;
      border-radius: 99em;
    }
  }

  li {
    cursor: pointer;
    padding: 0 1em;

    &:hover {
      color: $hsl-blue;
    }
  }
}
.search-results {
  overflow: auto;
  position: relative;
  width: 100%;
   &::-webkit-scrollbar-thumb { 
      background: $white;
      border-radius: 99em;
      width: 3px;
      border: 1px solid $gray;
    }

    &::-webkit-scrollbar { 
      background: $gray;
      width: 7px;
      margin: 0 auto;
      right: 2px;
      border-radius: 99em;
    }
}
.result {
  background: $white;
  border: 1px solid #ddd;
  border-radius: 3px;   
  margin: 1em 0;   
  padding: 50px 10px 10px; 
  position: relative;
  width: 98%;
  cursor: pointer;
}
.result-routes {
  margin-bottom: 1em;
}
h4.result-route {
  display: inline;
  padding: 0;

  &.BUS {
    color: $bus-color; 
  }
  &.TRAM {
    color: $tram-color; 
  }
  &.RAIL {
    color: $train-color; 
  }
  &.SUBWAY {
    color: $metro-color; 
  }
}

.time {
  position: absolute;
  right: 10px;
  top: 10px;
}

.total-time h3{
    margin-bottom: 0;
}

.walk-time h4 {
    margin-bottom: 0;
}


.routes-list {
  border-radius: 3px;
  overflow: auto;
  position: relative;
  width: 100%;
  &::-webkit-scrollbar-thumb { 
    background: $white;
    border-radius: 99em;
    width: 3px;
    border: 1px solid $gray;
  }

  &::-webkit-scrollbar { 
    background: $gray;
    width: 7px;
    margin: 0 auto;
    right: 2px;
    border-radius: 99em;
  }
}

.route {
  border-top: 1px solid $white;
  cursor: pointer;
  display: block;
  padding: .5em 0;
  width: 100%;

  .icon {
    color: $white;
    fill: $bus-color;
    float: left;
    height: 2em;
    margin: 0 5px 0 0;
    width: 2em;
  }
  
  .checkmark-icon-nr {
    display: flex;
    flex-wrap: nowrap;
    float: left;
    justify-content: left;
    width: 28.125%;
  }

  .checkmark {
    background: $white;
    border: 1px solid $light-gray;
    border-radius: 3px;
    float: left;
    height: 1.33333333333333em;
    margin: .333333333em 8px;
    padding: 0;
    position: relative;
    width: 1.33333333333333em;
  }

  .route-nr,
  .route-text {
    float: left;
    line-height: 2em;
  }

  .route-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 71.875%;
  }

  &.bus {
    .route-nr {
      color: $bus-color;
    }
  }

  &:hover {
    background: $white;
  }

  &.active {

    background: $white;

    .checkmark {
      
      &:before {
        border-bottom: 3px solid $hsl-blue;
        border-left: 3px solid $hsl-blue;
        content: ' ';
        height: 40%;
        position: absolute;
        top: 0;
        transform: translate(-2px, 1px) rotate(-45deg);
        transform-origin: 50% 0;
        width: 80%;
      }
    }
  }
}


footer {
  background: $white;
  border-top: 2px solid rgba($gray, .33);
  bottom: 0;
  color: $gray;
  left: 0;
  padding: 10px 20px 10px;
  position: fixed;
  width: 360px;
  z-index: 3;

  p {
    display: flex;
    justify-content: space-between;
    margin: 0;

    a {
      color: $gray;
    }
  }
}

.left-sidebar,
.map-container {
  float: left;
}

.map-container {
  height: 100vh;
  left: 0;
  position: relative;
  top: 0;
  width: calc(100% - 360px);
  z-index: 1;

  #map {
    height: 100%;
    width: 100%;
  }
}
.welcome-text {
  background: $white;
  padding: 2em 3.2em 2em 2em;
  width: 60%;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: $border-radius;
  display: none;
  &.open {
    display: block;
  }
  .close {
    cursor: pointer;
    height: 2em;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 2em;
  }
}
.modal {
  background: rgba(0, 0, 0, .5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  
  &.open {
    display: block;
  }

  .modal-content {
    background: $white;
    border-radius: $border-radius;
    left: 50%;
    padding: 3em 2.5em 1em 1em;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 400px);
  }

  .close {
    cursor: pointer;
    height: 2em;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 2em;
  }
}

.transitive-line:hover {
  stroke: $black;
}

.transitive-stop-marker-pattern {
  z-index: 4;
}

.transitive-segment-label {
  z-index: 5;
}

@media screen and (min-width: 1500px) {
  
}
@media screen and (max-width: 1100px) {
  
}
@media screen and (max-width: 1024px) {
  .left-sidebar {
    width: 320px;

    .info {
      padding: 20px 10px 20px;
    }

    .route-search-form,
    .line-search-form {
      padding: 20px 10px 10px;

    }
  }

  footer {
    width: 320px;
  }

  .routes-list {
    padding: 0 10px;
  }

  .map-container {
    width: calc(100% - 320px);
  }
}
@media screen and (max-width: 767px) {
  footer,
  .left-sidebar,
  .map-container {
    width: 100%;
  }
}
