$icon-font-path: '../fonts/';
@import "node_modules/normalize.scss/normalize.scss";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
// bower:scss
// endbower
$hslblue : #007AC9;
$hsldarkblue : #006eb5;
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.form-group,
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
html,body {
  min-height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div, header, footer, nav, aside, section, main, button, input, textarea {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,p {
  margin: 0 0 1em;
  font-weight: 300;
}
h1 {
  font-size: 2em;
  line-height: 1.1em;
}
h2 {
  font-size: 1.6em;
  line-height: 1.1em;
}
h3 {
  font-size: 1.4em;
  line-height: 1.1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.1em;
}
h5 {
  font-size: 0.8em;
  line-height: 1.1em;
}
p {
  font-size: 1em;
  line-height: 1.1em;
}
input,button {
  font-size: 1em;
  line-height: 2.5em;
  height: 2.5em;
  display: block;
  padding: 0 1em;
  margin: 0 0 1em;
  transition: all 0.25s ease-out;
}
button {
  text-transform: uppercase;
}
main {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.left-sidebar {
  z-index: 2;
  position: relative;
  background: $hslblue;
  color: #FFF;
  width: 25vw;
  margin:0;
  padding: 0 1em;
  min-height: 100%;
  overflow: hidden;
  a {
    color: #FFF;
  }
  .logo {
    width: 100%;
    margin-top: 1em;
    h1 {
      background-image: url(../images/hsllogo.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: auto 1.25em;
      padding-left: 140px;
    }
  }
  h2:first-child {
    margin-top: 0;
  }
  button,input{
    color: #FFF;
    background: $hsldarkblue;
    border: none;
    border-radius: 3px;
  }
  input {
    width: 100%;
  }
  button {
    float: right;
    &:hover {
      color: $hsldarkblue;
      background: #FFFFFF;
    }
  }
  ::-webkit-input-placeholder {
    color: rgba(#FFF,0.8);
  }
  :-moz-placeholder {
    color: rgba(#FFF,0.8);
  }
  ::-moz-placeholder {
    color: rgba(#FFF,0.8);
  }
  :-ms-input-placeholder {
    color: rgba(#FFF,0.8);
  }
  .routes-group {
    .routes-list {
      position:relative;
      overflow: scroll;
      width: 100%;
      background: $hsldarkblue;
      border-radius: 3px;
      max-height: 200px;
      padding: 1em;
    }
    .route {
      width: 100%;
      display: block;
      cursor: pointer;
      .checkmark {
        background: #FFF;
        width: 1em;
        height: 1em;
        float: left;
        position: relative;
        border-radius: 3px;
      }
      .route-nr,
      .route-text {
        float: left;
      }
      .route-nr {
        margin: 0 0 0 0.5em;
        min-width: 3em;
      }
      &.active {
        .checkmark {
          &:before {
            width: 0.66em;
            height: 0.33em;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            border-left: 0.2em solid #000;
            border-bottom: 0.2em solid #000;
            transform-origin: 50% 50%;
            transform: translate(0.05em,0.1em) rotate(-45deg);
          }
        }
      }
    }
  }
  footer {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    padding: 0 1em;
    p {
      display: flex;
      justify-content: space-between;
    }
  }
}
.left-sidebar,
.map-container {
  float: left;
}
.map-container {
  width: 75vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  #map {
    height: 100%;
    width: 100%;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
